@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 168 50% 97%;
    --foreground: 222.2 84% 4.9%;
    --card: 168 50% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 168 50% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 180 40% 45%;
    --primary-foreground: 180 40% 98%;
    --secondary: 180 15% 90%;
    --secondary-foreground: 222.2 84% 4.9%;
    --muted: 180 10% 93%;
    --muted-foreground: 225 7% 50%;
    --accent: 291 7% 48%;
    --accent-foreground: 291 7% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 20% 85%;
    --input: 180 20% 85%;
    --ring: 180 40% 45%;
    --chart-1: 180 50% 50%;
    --chart-2: 190 60% 50%;
    --chart-3: 291 40% 60%;
    --chart-4: 210 50% 55%;
    --chart-5: 170 50% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 5%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 180 40% 55%;
    --primary-foreground: 180 40% 5%;
    --secondary: 240 5% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 5% 15%;
    --muted-foreground: 240 5% 65%;
    --accent: 291 10% 58%;
    --accent-foreground: 291 10% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 15%;
    --input: 240 5% 15%;
    --ring: 180 40% 55%;
    --chart-1: 180 50% 50%;
    --chart-2: 190 60% 50%;
    --chart-3: 291 40% 60%;
    --chart-4: 210 50% 55%;
    --chart-5: 170 50% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
